


.row {
margin-top:60px;
margin: 50px;
}

.login-img{
  margin: 20px;
  width: 100%;
}

.col-lg-8{
  display: flex;
  justify-content: center;
  text-align: center;
  background-color: #b5b5b556;
  border-radius: 10px;
  margin-left: 200px;
  width: 400px;
  padding:20px;
  box-shadow: 2px 2px 10px rgb(47, 82, 56);
}

.form-outline {
  position: relative;
  width: 300px;
}

.form-control {
  background-color: #ffffff;
  border: none;
  border-radius: 8px;
  box-shadow: none;
  color: #616161;
  padding: 12px;
  width: 100%;
}

.form-group {
  margin-bottom: 20px;
}


/*.profile-card {
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(88, 88, 88, 0.938);
  margin: 20px auto;
  max-width: 600px;
  padding: 20px;
}


.formRegister {
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  margin: 20px auto;
  max-width: 600px;
  padding: 20px;
}

.formRegister label {
  display: block;
  margin-bottom: 5px;
}

.formRegister input,
.formRegister select {
  background-color: #f5f5f5;
  border: none;
  border-radius: 8px;
  box-shadow: none;
  color: #333;
  padding: 12px;
  width: 100%;
  margin-bottom: 10px;
}

.formRegister button[type="submit"] {
  border: none;
  border-radius: 8px;
  color: #fff;
  cursor: pointer;
  padding: 12px;
  width: 100%;
}*/

/*label noticias*/

@media (max-width:767px){


  .login-img{
   display: none;
    }

    .col-lg-8{
      margin: 5px;
      width: 100%;
      padding:10px;
      box-shadow:1px 1px 10px rgb(7, 7, 7);
    }

    .form-outline {
      position: relative;
      width:100%;
    }

    .form-control {
      background-color: #ffffff;
      width: 100%;
    }
  }
