.shopping {
  font-family: 'Josefin Sans', sans-serif;
  background-color: #353235;
  color: #ffffff;
  width: 100%;
  border-radius: 5px;
  padding: 10px;
  opacity: 0;
    animation: fadeIn 3s forwards;
}

@keyframes fadeIn {
  to {
    opacity: 1;
  }
}

.shopping ul {
  width: 100%;
  list-style: none;
  padding: 0;
}

.shopping li {
  background-color: #ffffffce;
  color: #000000;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin:10px;
  padding: 5px;
  border-radius: 5px;
}


.shopping li .count {
  font-size: 16px;
  font-weight: bold;
  margin: 10px 10px;
}

.total {
  font-weight: bold;
  margin: 10px;
}



