.container-global{
  margin:150px;
}


/* Estilos para el formulario de edición de perfil */
.form-group {
  padding: 10px;
}

/* Estilos para el perfil de usuario */
.profile-card {
    display: flex;
    background-color: #a8a8a853;
    border-radius: 10px;
    box-shadow: 1px 5px 6px rgba(0, 0, 0, 0.644);
    margin: 20px auto;
    max-width: 600px;
    padding: 20px;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
}

@media (max-width:767px){
  .profile-card {
    width: 90%;
  }

  .container-global{
    margin:30px;
    width: 90%;
  }

  }


/* Estilos para el formulario de registro de vendedor

.formRegister {
  background-color: #f9f9f9;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  margin: 20px auto;
  max-width: 600px;
  padding: 20px;
}

.formRegister label {
  display: block;
  margin-bottom: 5px;
  margin-right: 5px;

}

.formRegister input,
.formRegister select {
  background-color: #f5f5f5;
  border: none;
  border-radius: 8px;
  box-shadow: none;
  color: #333;
  padding: 12px;
  width: 100%;
  margin-bottom: 10px;
}

.formRegister button[type="submit"] {
  background-color: #007bff;
  border: none;
  border-radius: 8px;
  color: #fff;
  cursor: pointer;
  padding: 12px;
  width: 100%;
}

label {
    display: inline-block;
    margin-right: 10px;
}

.plane {
    background-color: #007bff;
    border: none;
    border-radius: 8px;
    color: #fff;
    cursor: pointer;
    padding: 12px;
    width: 10%;
    border-radius: 10px;
}

.message{
    width: 90%;
    border-radius: 10px;
    border: #fff 1px;
}*/