.profile-card {
  background-color: #4545453c;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(76, 74, 74, 0.662);
  margin: 150px auto;
  max-width: 600px;
  padding: 20px;
}

.profile-card h3{
  text-align: center;
    display: flex;
    justify-content: center;
    margin: 20px;
    color: #0d6efd;
}


.datos {
  display: flex;
  flex-direction: column;
  text-align: center;
  padding-top: 10px;
 padding-bottom: 10px;
}

.botones {
  display: flex;

}

.btn-primary {
    margin-right: 10px;
}

label {
    display: inline-block;
    font-weight: bold;
}


@media (max-width:767px){
  .profile-card {
    width: 90%;
  }
 
  
  }