.containe {
  position: absolute;
  margin-top: 200px;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 800px;
  height: 400px;
  padding: 50px;
  background-color: #f5f5f5;
  box-shadow: 0 30px 50px #a9a8a8;
}

#slide {
  width: max-content;
  margin-top: 50px;
}

.item {
  width: 200px;
  height: 300px;
  background-position: 50% 50%;
  display: inline-block;
  transition: 0.8s;
  background-size: cover;
  position: absolute;
  z-index: 1;
  top: 50%;
  transform: translate(0, -50%);
  border-radius: 20px;
  box-shadow: 0 30px 50px #505050;
}

.item:nth-child(2) {
  left: 0;
  top: 0;
  transform: translate(0, 0);
  border-radius: 0;
  width: 100%;
  height: 100%;
  box-shadow: none;
  border-radius: 20px;
}

.item:nth-child(3) {
  left: 50%;
}

.item:nth-child(4) {
  left: calc(50% + 220px);
}

.item:nth-child(5) {
  left: calc(50% + 440px);
}

.item:nth-child(n + 6) {
  left: calc(50% + 660px);
  opacity: 0;
}

.item .content {
    position: absolute;
    top: 0%;
    left: -50px;
    width: 340px;
    text-align: left;
    padding: 0;
    color: #fff;
    transform: translate(0, -50%);
    display: none;
    background-color: #9d9d9db3;
    border-radius: 20px;
    width: -moz-fit-content;
    height: 300px;
}

.item:nth-child(2) .content {
  display: block;
  z-index: 11111;
}

.item .name {
  font-size: 50px;
  font-weight: bold;
  opacity: 0;
  animation: showcontent 1s ease-in-out 1 forwards;
  font-family: 'Josefin Sans', sans-serif;
  margin-left: 10px;
}

.item .des {
  font-size: 15px;
  margin-left: 10px;
  opacity: 0;
  animation: showcontent 1s ease-in-out 0.3s 1 forwards;
  font-family: 'Josefin Sans', sans-serif;
  margin-top: 20px;
}

.item button {
  padding: 10px 20px;
  border: none;
  opacity: 0;
  animation: showcontent 1s ease-in-out 0.6s 1 forwards;
  width: 30%;
}

@keyframes showcontent {
  from {
    opacity: 0;
    transform: translate(0, 100px);
    filter: blur(33px);
  }
  to {
    opacity: 1;
    transform: translate(0, 0);
    filter: blur(0);
  }
}

.buttons {
  position: absolute;
  bottom: 30px;
  z-index: 222222;
  text-align: center;
  width: 100%;
}

.buttons button {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: 1px solid #555;
  transition: 0.5s;
}

.buttons button:hover {
  background-color: #bac383;
}

.bton {
  background-color: #0d3feb;
}

.btn-primary {
    color: #fff;
    background-color: #0d6efd;
    border-color: #0d6efd;
    padding: 5px;
    margin-left: 5px;
}

@media (max-width:767px){
    .item {
  display: none;

  }
}

@media (max-width:767px){
    .containe {
  display: none;

  }
}