
/* //////////// Estilos generales ///////////////////////// */


.inicioContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 50vh;
  background-color: #f9f9f9;
  opacity: 0;
  animation: fadeIn 1s forwards;
  margin-top: 0px;
  margin-bottom: 700px;
}

@keyframes fadeIn {
  to {
    opacity: 1;
  }
}

.inicioContainer h1 {
  font-size: 3rem;
  margin-bottom: 16px;
}

.inicioContainer p {
  font-size: 1.5rem;
  color: #777;
}


/* ///////////////////Estilos Tarjeta /////////////////////////////////// */

.cardContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  opacity: 0;
  animation: slideIn 3s forwards;
}

@keyframes slideIn {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.card {
  margin: 60px;
  opacity: 0;
  animation: fadeInCard 3s forwards;
  width:18rem;
}

@keyframes fadeInCard {
  to {
    opacity: 1;
  }
}

/* //////////// Estilos del INPUT //////////////////// */

.inputbox {
  position: relative;
  width: 25rem;
  margin: auto;
  display:block;
}

.inputbox input {
  position: relative;
  width: 100%;
  padding: 20px 10px 10px;
  background: transparent;
  outline: none;
  box-shadow: none;
  border: none;
  color: #23242a;
  font-size: 1em;
  letter-spacing: 0.05em;
  transition: 0.5s;
  z-index: 10;
}

.inputbox span {
  position: absolute;
  left: 0;
  padding: 20px 10px 10px;
  font-size: 1.2em;
  color: #3f2e3e;
  letter-spacing: 00.05em;
  transition: 0.5s;
  pointer-events: none;
  font-weight: bold;
}

.inputbox input:valid ~span,
.inputbox input:focus ~span {
  color: #3f2e3e;
  transform: translateX(-10px) translateY(-34px);
  font-size: 0.9em;
  
}

.inputbox i {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 2px;
  background: #45CFDD;
  border-radius: 4px;
  transition: 0.5s;
  pointer-events: none;
  z-index: 9;
}

.inputbox input:valid ~i,
.inputbox input:focus ~i {
  height: 44px;
}


/* //////////////////Estilos del Acordeon//////////////// */

.section1{
  display: flex;
  width: 100%;
  height: 430px;
  margin-bottom: 50px;
  
}

.fotogrande {
  width: 0px;
  flex-grow: 1;
  object-fit: cover;
  opacity: .8;
  transition: .5s ease;
}
.fotogrande:hover {
  width: 300px;
  opacity: 1;
  cursor: (crosshair) ;
  filter: contrast (120%);
}
