.navbar-container {
  display: flex;
  flex-direction: row-reverse;
}

.navbar-custom {
  justify-content: flex-end;
  margin-right: 60px;
  border-bottom: 1px solid #ccc;
  padding-bottom: 4px;
  color: beige;
}

.nav-link {
  display: block;
  padding: 0.5rem 1rem;
  color: #3c6a6f;
  text-decoration: none;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
    border-color 0.15s ease-in-out;
}


.dropdown-menu {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.nav-item.dropdown:hover .dropdown-menu {
  display: block;
}

.dropdown-item {
  color: #3c6a6f;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-item:hover {
  background-color: #f1f1f1;
}

.hamburger {
  display: none;
  cursor: pointer;
  font-size: 20px;
  background: none;
  border: none;
  color: #3c6a6f;
  padding: 0.5rem;
}

@media (max-width: 768px) {
  .hamburger {
    display: block;
  }

  .navbar-custom {
    display: none;
  }

  .navbar-custom.open {
    display: flex;
    flex-direction: column;
  }
}

