.navbar-container {
    display: flex;
    flex-direction: row-reverse;
}

.navbar-custom {
    justify-content: flex-end;
    margin-right: 60px;
    border-bottom: 1px solid #ccc;
    padding-bottom: 4px;
    color: beige;
}

.nav-link {
    display: block;
    padding: 0.5rem 1rem;
    color: #3c6a6f;
    text-decoration: none;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out;
}