 @import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap');
 @import url('https://fonts.googleapis.com/css?family=Pacifico&display=swap');


.img-thumbnail{
    display: flex;
    justify-content: center;
    margin: 5px auto 5px;
   }

.inicio{
  font-family: 'Pacifico', cursive;
   background-color: rgb(255, 255, 255);
   color: rgb(0, 0, 0);
    padding: 20px;
    border-radius: 4px;
    opacity: 0;
    animation: fadeIn 1s forwards;
}

@keyframes fadeIn {
  to {
    opacity: 1;
  }
}


h1,h2,h4,p{
    display: flex;
    justify-content: center;
    margin: 20px;
}

h3{
  display: flex;
    justify-content: center;
    margin: 20px;
color: #ffca2c;
}

.cardContainer1 {
  display: flex;
  justify-content: center;
  background-color: rgba(53, 50, 53, 0.523);
    padding: 20px;
    border-radius: 4px;
    opacity: 0;
  animation: slideIn 3s forwards;
  }

  @keyframes slideIn {
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }



  .card {
    font-family: 'Josefin Sans', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 30px;
    padding: 10px;
    opacity: 0;
    animation: fadeInCard 3s forwards;
    width:18rem;
    opacity: 0;
  animation: fadeInCard 3s forwards;
}

@keyframes fadeInCard {
  to {
    opacity: 1;
  }
}


  .inputboxTienda {
    font-family: 'Josefin Sans', sans-serif;
    display: block;
    margin: auto;
    padding: 20px;
    background-image: linear-gradient(to bottom, rgb(147, 146, 147), #353235ff);
    color: rgb(0, 0, 0);

  }
  .form-floating{
    position: relative;
    width: 25rem;
    margin: auto;
    display:block;
  }
  .btn{
    position: relative;
    margin: auto;
    display:block;
  }

  .mensaje-enviado {
    background-color: #157347;
    color: #fff;
    padding: 10px;
    border-radius: 4px;
    text-align: center;
    opacity: 0;
  transform: translateX(-100%);
  animation: slideIn 1s forwards;
  }
  @keyframes slideIn {
    to {
      opacity: 1;
      transform: translateX(0);
    }
  }

  @media screen and (max-width: 768px) {


    .cardContainer1 {
      display: flex;
      flex-wrap: wrap;
      opacity: 0;
      animation: slideIn 3s forwards;
    }

    @keyframes slideIn {
      to {
        opacity: 1;
        transform: translateY(0);
      }
    }

    .card {
      margin: 10px;
    }

    @keyframes fadeInCard {
      to {
        opacity: 1;
      }
}
.form-floating{
 
  width:80%;

}

}