 @import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap');
 @import url('https://fonts.googleapis.com/css?family=Pacifico&display=swap');


.img-thumbnail{
    display: flex;
    justify-content: center;
    margin: 5px auto 5px;
   }

.inicio{
  font-family: 'Pacifico', cursive;
   background-color: rgb(255, 255, 255);
   color: rgb(0, 0, 0);
    padding: 20px;
    border-radius: 4px;
    opacity: 0;
    animation: fadeIn 1s forwards;
}

@keyframes fadeIn {
  to {
    opacity: 1;
  }
}


h1,h2,h4,p{
    display: flex;
    justify-content: center;
    margin: 20px;
}

h3{
  display: flex;
    justify-content: center;
    margin: 20px;
color: #ffca2c;
}

.cardContainer1 {
  display: flex;
  justify-content: center;
  background-color: rgb(53, 50, 53);
    padding: 20px;
    border-radius: 4px;
    opacity: 0;
  animation: slideIn 3s forwards;
  }

  @keyframes slideIn {
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }



  .card {
    font-family: 'Josefin Sans', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px;
    padding: 10px;
    opacity: 0;
    animation: fadeInCard 3s forwards;
    width:18rem;
    opacity: 0;

}

.img-thumbnail {
    display: flex;
    justify-content: center;
    margin: 5px auto 5px;
    height: 8rem;
}

@keyframes fadeInCard {
  to {
    opacity: 1;
  }
}


  .inputboxTienda {
    font-family: 'Josefin Sans', sans-serif;
    display: block;
    margin: auto;
    padding: 20px;
    background-image: linear-gradient(to bottom, rgb(147, 146, 147), #353235ff);
    color: rgb(0, 0, 0);
    margin-top: 10px;

  }

 .inputbox input {
  position: relative;
  width: 100%;
  padding: 20px 10px 10px;
  background: transparent;
  outline: none;
  box-shadow: none;
  border: none;
  color: #23242a;
  font-size: 1em;
  letter-spacing: 0.05em;
  transition: 0.5s;
  z-index: 10;
  margin-top: 40px;
}

.inputbox span {
  position: absolute;
  left: 0;
  padding: 20px 10px 10px;
  font-size: 1.2em;
  color: #3f2e3e;
  letter-spacing: 00.05em;
  transition: 0.5s;
  pointer-events: none;
  font-weight: bold;
  margin-top: 40px;
}

  
  .form-floating{
    position: relative;
    width: 25rem;
    margin: auto;
    display:block;
  }
  .btn{
    position: relative;
    margin: auto;
    display:block;
  }

  .mensaje-enviado {
    background-color: #157347;
    color: #fff;
    padding: 10px;
    border-radius: 5px;
    text-align: center;
    opacity: 0;
    transform: translateX(-100%);
    animation: slideIn 3s forwards;
  }
  @keyframes slideIn {
    to {
      opacity: 1;
      transform: translateX(0);
    }
  }

.error{
background-color: rgba(255, 0, 0, 0.463);
color: white;
border-radius: 5px;
padding: 10px;
animation: fadeIn 1s ease-in;
}
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}


  .bi {
  margin-left:10px;
  }



  @media screen and (max-width: 768px) {


    .cardContainer1 {
      display: flex;
      flex-wrap: wrap;
      opacity: 0;
      animation: slideIn 3s forwards;
    }

    @keyframes slideIn {
      to {
        opacity: 1;
        transform: translateY(0);
      }
    }

    .card {
      margin: 10px;
    }

    @keyframes fadeInCard {
      to {
        opacity: 1;
      }
}
.form-floating{
 
  width:80%;

}

}



@media (max-width:767px){
   .card {
  margin: 30px; /* Reduce el margen para tener más espacio en la pantalla */
  opacity: 0;
  animation: fadeInCard 3s forwards;
  width: 18rem; /* Establece el ancho fijo para todos los elementos card */
  height: 20rem; /* Establece la altura fija para todos los elementos card */
}
}