.inicioContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f9f9f9;
  opacity: 0;
  animation: fadeIn 1s forwards;
}

@keyframes fadeIn {
  to {
    opacity: 1;
  }
}

.inicioContainer h1 {
  font-size: 3rem;
  margin-bottom: 16px;
}

.inicioContainer p {
  font-size: 1.5rem;
  color: #777;
}


.cardContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  opacity: 0;
  animation: slideIn 3s forwards;
}

@keyframes slideIn {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.card {
  margin: 60px;
  opacity: 0;
  animation: fadeInCard 3s forwards;
}

@keyframes fadeInCard {
  to {
    opacity: 1;
  }
}

