.shopping {
    background-color: #cbcbcb;
    width: 30%;
    border-radius: 5px;
    padding: 10px;
  }

  .shopping ul {
    background-color: #d7dad7;
    width: 100%;
    list-style: none;
    padding: 0;
  }

  .shopping li {
    background-color: #f0f7d8;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 10px;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
  }


  .shopping li .count {
    font-size: 16px;
    font-weight: bold;
    margin: 10px 10px;
  }

  .total {
    font-weight: bold;
    margin: 10px;
  }